<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="https://www.thymeleaf.org/extras/spring-security"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>$Title$</title>
</head>
<body>
<h2 th:text="${message}">Hello Good Morning!.</h2>
<table class="table">
    <tbody>
    <tr th:each="user : ${users}"> <!-- working with collections -->
        <td th:text="${user.userName}"></td>
        <td><a class="btn btn-primary" th:if="${user.role} == 'ADMIN'">Update</a>
            <a class="btn btn-primary" th:unless="${user.role} == 'ADMIN'">View</a>
        </td>
    </tr>
    </tbody>
</table>
<h4 th:utext="${user.userName}"></h4><!-- unescaped text -->
<h3 th:object="${session.user}"></h3>
<div th:class="content">sample text</div> <!-- style class -->
<a href="#" th:href="@{http://localhost:8080/gtvg/order/details(orderId=${o.id})}">View</a>
<div th:switch="${user.role}">
    <p th:case="'ADMIN'">User is an administrator</p>
    <p th:case="'MANAGER'">User is a manager</p>
    <p th:case="'GUEST'">User is a guest</p>
    <p th:case="*">User is some other thing</p>
</div>
<form th:attr="action=@{/subscribe}"></form>
<span th:value="${myvalue}">number</span>
<div th:with="isEven(${prodStat.count} % 2 == 0)"></div>
<div th:fragment="header"></div>
<div th:fragment="footer"></div>
<div th:insert="~{fragments/messages :: messages}"></div>
<div layout:fragment="content"></div> <!-- Content will be injected here -->
<div th:abbr=""></div>
<div th:accept=""></div>
<div th:accept-charset=""></div>
<div th:accesskey=""></div>
<div th:action=""></div>
<div th:align=""></div>
<div th:alt=""></div>
<div th:archive=""></div>
<div th:audio=""></div>
<div th:autocomplete=""></div>
<div th:axis=""></div>
<div th:background=""></div>
<div th:bgcolor=""></div>
<div th:border=""></div>
<div th:cellpadding=""></div>
<div th:cellspacing=""></div>
<div th:challenge=""></div>
<div th:charset=""></div>
<div th:cite=""></div>
<div th:class=""></div>
<div th:classid=""></div>
<div th:codebase=""></div>
<div th:codetype=""></div>
<div th:cols=""></div>
<div th:colspan=""></div>
<div th:compact=""></div>
<div th:content=""></div>
<div th:contenteditable=""></div>
<div th:contextmenu=""></div>
<div th:data=""></div>
<div th:datetime=""></div>
<div th:dir=""></div>
<div th:draggable=""></div>
<div th:dropzone=""></div>
<div th:enctype=""></div>
<div th:for=""></div>
<div th:form=""></div>
<div th:formaction=""></div>
<div th:formenctype=""></div>
<div th:formmethod=""></div>
<div th:formtarget=""></div>
<div th:frame=""></div>
<div th:frameborder=""></div>
<div th:headers=""></div>
<div th:height=""></div>
<div th:high=""></div>
<div th:href=""></div>
<div th:hreflang=""></div>
<div th:hspace=""></div>
<div th:http-equiv=""></div>
<div th:icon=""></div>
<div th:id=""></div>
<div th:keytype=""></div>
<div th:kind=""></div>
<div th:label=""></div>
<div th:lang=""></div>
<div th:list=""></div>
<div th:longdesc=""></div>
<div th:low=""></div>
<div th:manifest=""></div>
<div th:marginheight=""></div>
<div th:marginwidth=""></div>
<div th:max=""></div>
<div th:maxlength=""></div>
<div th:media=""></div>
<div th:method=""></div>
<div th:min=""></div>
<div th:name=""></div>
<div th:optimum=""></div>
<div th:pattern=""></div>
<div th:placeholder=""></div>
<div th:poster=""></div>
<div th:preload=""></div>
<div th:radiogroup=""></div>
<div th:rel=""></div>
<div th:rev=""></div>
<div th:rows=""></div>
<div th:rowspan=""></div>
<div th:rules=""></div>
<div th:sandbox=""></div>
<div th:scheme=""></div>
<div th:scope=""></div>
<div th:scrolling=""></div>
<div th:size=""></div>
<div th:sizes=""></div>
<div th:span=""></div>
<div th:spellcheck=""></div>
<div th:src th:srclang=""></div>
<div th:standby=""></div>
<div th:start=""></div>
<div th:step=""></div>
<div th:style=""></div>
<div th:summary=""></div>
<div th:tabindex=""></div>
<div th:target=""></div>
<div th:title=""></div>
<div th:type=""></div>
<div th:usemap=""></div>
<div th:value=""></div>
<div th:valuetype=""></div>
<div th:vspace=""></div>
<div th:width=""></div>
<div th:wrap=""></div>
<div th:xmlbase=""></div>
</body>
</html>