<!DOCTYPE html>
<html  lang="en"
       xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
       xmlns:th="http://www.thymeleaf.org"
       xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
       layout:decorate="~{welcome-layout}">
<head>
  <title>Welcome</title>
</head>
<body>
<div layout:fragment="content">
  <div class="container mt-5">
    <h1>Welcome to Records Management</h1>
    <p>This is a public-facing welcome page.</p>
    <a th:href="@{/login}" class="btn btn-primary">Login</a>
  </div>
</div>
</body>
</html>
