<!doctype html>
<html lang="en"
      layout:decorate="~{login-layout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New User Registration</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.3/css/bootstrap.min.css}"/>
</head>
<body>
<div layout:fragment="content" class="main-block py-5 h-100">
    <div class="left-part">
        <i class="fas fa-graduation-cap"></i>
        <h1>Register for Records Management Account</h1>
        <p>Records Management provides a place to register your child for school as well as access future records.</p>
        <div class="error-list position-relative">
            <div th:if="${validationErrors != null and !#lists.isEmpty(validationErrors)}"
                 th:each="err : ${validationErrors}"
                 class="toast-container position-absolute top-0 end-0"
                 role="alert" aria-live="assertive" aria-atomic="true" data-bs-delay="25000" data-bs-autohide="true">
                <div class="toast">
                    <div class="toast-header bg-secondary">
                        <i class="fa-solid fa-triangle-exclamation text-danger" ></i>
                        <h6 class="text-danger"> &nbsp;&nbsp;&nbsp;Required</h6>
                    </div>
                    <div class="toast-body error" th:text="${err.defaultMessage}">
                        <!-- Error message will be displayed here -->
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Form for User Registration -->
    <form class="right-form" th:action="@{/register}" th:object="${userDto}" method="post">
        <div class="title">
            <i class="fas fa-pencil-alt"></i>
            <h2>Register here</h2>
        </div>
        <!-- First Name Field -->
        <div class="info">
            <input type="text" required id="first_name" th:field="*{firstName}" placeholder="First name">
            <!-- Middle Name Field -->
            <input type="text" id="middle_name" th:field="*{middleName}" placeholder="Middle name">
            <!-- Last Name Field -->
            <input type="text" required id="last_name" th:field="*{lastName}" placeholder="Last name">
            <!-- Email Field -->
            <input type="email" id="user_name" th:field="*{email}" required
                   placeholder="Choose valid Email for username">
            <!-- Password Field -->
            <input type="password" id="password" th:field="*{password}" required placeholder="Password">
            <!-- Person Type Field -->
            <select th:field="*{personType}">
                <option value="" disabled selected>Select Person Type*</option>
                <option value="FATHER">Father</option>
                <option value="MOTHER">Mother</option>
                <option value="LEGAL_GUARDIAN">Other Legal Guardian</option>
            </select>
        </div>
        <!-- Agreement Checkbox Field -->
        <div class="checkbox">
            <input type="checkbox" id="checkedAgreement" th:field="*{checkedAgreement}">
            <span>I agree to the <a
                    href="#">Agreement and Privacy Policy for Records Registration/Management.</a></span>
        </div>
        <button type="submit">Submit</button>
    </form>

    <!-- Bootstrap JS and Popper.js -->
    <script th:src="@{/webjars/bootstrap/5.3.3/js/bootstrap.bundle.min.js}"></script>
    <script>
        // Initialize all toasts
        var toastElList = [].slice.call(document.querySelectorAll('.toast'));
        var toastList = toastElList.map(function (toastEl) {
            var toast = new bootstrap.Toast(toastEl);
            toast.show(); // Show each toast
            return toast;
        });
    </script>
</div>
</body>
</html>
