<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="email-item(email, personId)"
     th:classappend="${fadeOut} ? 'fade-out-implosion' : ''"
     class="email-item col-md-12 mb-3">
    <div class="border rounded p-2 position-relative">
        <strong th:text="${email.type}">Type:</strong>
        <div th:text="${email.emailAddress}">email@example.com</div>

        <!-- Edit and Delete links for each email -->
        <div class="position-absolute top-0 end-0 m-2 ">
            <a href="#" th:id="'edit-email-' + ${email.emailId}" class="text-light me-2 edit-delete-icons"
               name="edit"
               th:hx-get="@{/person/{personId}/email/edit/{emailId}(personId=${personId}, emailId=${email.emailId})}"
               hx-target="#email-list"
               hx-swap="innerHTML">
                <i class="fa-solid fa-pencil" title="Edit"></i>
            </a>
            <a href="#" class="text-danger edit-delete-icons"
               th:hx-delete="@{/person/{personId}/email/delete/{emailId}(personId=${personId}, emailId=${email.emailId})}"
               hx-target="closest .email-item"
               hx-trigger="confirmed"
               th:attr="data-csrf-header=${_csrf.headerName}, data-csrf-token=${_csrf.token}"
               hx-swap="outerHTML"
               onclick="
                    event.preventDefault();
                    Swal.fire({
                        title: 'Confirm',
                        text: 'Are you sure you want to delete this email?',
                        icon: 'warning',
                        showCancelButton: true,
                        confirmButtonText: 'Yes',
                        cancelButtonText: 'No'
                    }).then(
                        (result) => {
                            if(result.isConfirmed){
                                htmx.trigger(this, 'confirmed');
                            }
                        }
                    );"
               ><i class="fa-solid fa-trash" title="Delete"></i></a>
        </div>
    </div>

</div>
</html>