<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<div th:fragment="personal-info(person, missingDetailsCount, missingDetailsList)">
    <div class="card bg-dark text-white mt-4">
        <div class="card-body position-relative">
            <h4 class="card-title">Personal Information</h4>

            <!-- Edit Link with Pencil Icon and Badge -->
            <div class="position-absolute top-0 end-0 m-2">
                <button class="btn btn-outline-light btn-sm position-relative"
                        th:hx-get="@{/person/view/{personId}(personId=${person.personId})}"
                        hx-target="#content"
                        hx-swap="innerHTML transition:true show:window:top swap:.5s">
                    <i class="fa-solid fa-eye"></i> View Person
                    <span class="badge bg-danger position-absolute top-0 start-100 translate-middle rounded-pill"
                          th:text="${missingDetailsCount}"
                          data-bs-toggle="tooltip"
                          th:title="${#strings.arrayJoin(missingDetailsList, ', ')}"
                          style="transform: translate(-50%, -50%);">0
                    </span>
                </button>

            </div>

            <!-- Personal Info Data -->
            <div class="row mt-3">
                <div class="col-md-4">
                    <div class="mb-2">
                        <strong>First Name:</strong>
                        <div th:text="${person.firstName}">John</div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="mb-2">
                        <strong>Last Name:</strong>
                        <div th:text="${person.lastName}">Doe</div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="mb-2">
                        <strong>Prefix:</strong>
                        <div th:text="${person.prefix}">Mr.</div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="mb-2">
                        <strong>Middle Name:</strong>
                        <div th:text="${person.middleName}">William</div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="mb-2">
                        <strong>Suffix:</strong>
                        <div th:text="${person.suffix}">Jr.</div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="mb-2">
                        <strong>Person Type:</strong>
                        <div th:text="${person.personType}">Father</div>
                    </div>
                </div>
                <div class="col-md-4" th:if="${person.personType == 'LEGAL_GUARDIAN'}">
                    <div class="mb-2">
                        <strong>Legal Guardian Type:</strong>
                        <div th:text="${person.legalGuardianType}">Uncle</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</html>
