<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="students">
    <div class="card bg-dark text-white mt-4">
        <div class="card-body">
            <h4 class="card-title">Students</h4>
            <div th:each="student : ${students}">
                <div class="card bg-secondary text-white mt-3">
                    <div class="card-body">
                        <h5 class="card-title" th:text="${student.firstName + ' ' + student.lastName}">Student Name</h5>
                        <table class="table table-hover table-dark">
                            <thead>
                            <tr>
                                <th scope="col">Field</th>
                                <th scope="col">Value</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>First Name</td>
                                <td th:text="${student.firstName}">Jane</td>
                            </tr>
                            <tr>
                                <td>Last Name</td>
                                <td th:text="${student.lastName}">Doe</td>
                            </tr>
                            <tr>
                                <td>Sex</td>
                                <td th:text="${student.sex}">Female</td>
                            </tr>
                            <tr>
                                <td>Last School Attended</td>
                                <td th:text="${student.lastSchoolAttended}">Springfield High</td>
                            </tr>
                            <tr>
                                <td>Current Grade</td>
                                <td th:text="${student.currentGrade}">10</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</html>
