<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="bs-dialogs">
    <div class="modal fade" id="addressModal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content" id="addressModalContent">
                <!-- The editable-person-address-form fragment will be loaded here -->
            </div>
        </div>
    </div>
    <div class="modal fade" id="employerModal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content" id="employerModalContent">
                <!-- The editable-employer-address-form fragment will be loaded here -->
            </div>
        </div>
    </div>
</div>
</html>