
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<div th:fragment="email-form(email, personId)">
    <form th:action="@{/person/{personId}/email/save(personId=${personId})}"
          th:object="${email}" method="post"
    >
        <!-- Hidden input for emailId to ensure it's passed when editing -->
        <input type="hidden" th:field="*{emailId}" />

        <div class="mb-3">
            <label for="emailType" class="form-label">Type</label>
            <select id="emailType" th:field="*{type}" class="form-select">
                <option value="PERSONAL">Personal</option>
                <option value="WORK">Work</option>
                <option value="HOME">Home</option>
                <option value="SCHOOL">School</option>
                <option value="OTHER">Other</option>
            </select>
        </div>
        <div class="mb-3">
            <label for="email" class="form-label">Email Address</label>
            <input id="email" type="email" th:field="*{emailAddress}"   class="form-control" placeholder="email@example.com" required>
        </div>
        <div class="d-flex justify-content-end">
            <button type="submit" class="btn btn-success me-2"
                    th:hx-post="@{/person/{personId}/email/save(personId=${personId})}"
                    hx-target="#email-list-container"
                    hx-swap="afterbegin"
                    hx-on::after-request="this.closest('form').innerHTML=''">Save</button>
            <button type="button" class="btn btn-secondary"
                    th:hx-get="@{/person/view/{personId}(personId=${personId})}"
                    hx-target="#content" hx-swap="innerHTML">Cancel</button>
        </div>
    </form>
</div>
</html>

