<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<div th:fragment="phones-info(phoneNumbers)" id="phones-info">

    <!-- Alert Message Placeholder -->
    <div id="phone-alert-message">
        <br>
        <div th:if="${alertMessage}"
             class="alert"
             th:classappend="${alertLevel != null ? ' alert-' + alertLevel  + ' alert-dismissible fade show': ''}"
             role="alert">
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            <span th:text="${alertMessage}"></span>
        </div>
    </div>

    <div class="card bg-dark text-white mt-4 ">
        <div class="card-body position-relative" id="phones-list">
            <h4 class="card-title">Phone Numbers</h4>

            <!-- Button to Add a New Email -->
            <div class="position-absolute top-0 end-0 m-2">
                <button class="btn btn-outline-light btn-sm"
                        th:hx-get="@{/person/{personId}/phone/add(personId=${personId})}"
                        hx-target="#phones-list"
                        hx-select="#phone-form"
                        hx-swap="innerHTML">
                    <i class="fa-solid fa-plus"></i> Add Phone
                </button>
            </div>

            <div class="row mt-3">
                <div class="col-md-4" th:each="phone : ${phoneNumbers}">
                    <div class="mb-2 border rounded p-2 position-relative">
                        <strong th:text="${phone.type}">Type:</strong>
                        <div th:text="${phone.number}">123-123-1234</div>

                        <!-- Edit and Delete links for each email -->
                        <div class="position-absolute top-0 end-0 m-2 ">
                            <a href="#" class="text-light me-2 edit-delete-icons"
                               th:hx-get="@{/person/{personId}/phone/edit/{phoneId}(personId=${personId}, phoneId=${phone.phoneId})}"
                               hx-target="#phones-list"
                               hx-select="#phone-form"
                               hx-swap="innerHTML"><i class="fa-solid fa-pencil" title="Edit"></i></a>
                            <a href="#" class="text-danger edit-delete-icons"
                               th:hx-delete="@{/person/{personId}/phone/delete/{phoneId}(personId=${personId}, phoneId=${phone.phoneId})}"
                               hx-target="closest .col-md-4"
                               hx-swap="innerHTML"><i class="fa-solid fa-trash" title="Delete"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Phone Form-->
<div th:fragment="phone-form(phone, personId)" id="phone-form">
    <h2>Phone Form</h2>
    <form th:action="@{/person/{personId}/phone/save(personId=${personId})}" th:object="${phone}" method="post">
        <!-- Hidden input for phoneId to ensure it's passed when editing -->
        <input type="hidden" th:field="*{phoneId}" />

        <div class="mb-3">
            <label for="phoneType" class="form-label">Type</label>
            <select id="phoneType" th:field="*{type}" class="form-select">
                <option value="WORK">Work</option>
                <option value="HOME">Home</option>
                <option value="MOBILE">Mobile</option>
                <option value="OTHER">Other</option>
            </select>
        </div>
        <div class="mb-3">
            <label for="phone" class="form-label">Phone Number</label>
            <input id="phone" type="text" th:field="*{number}"   class="form-control" placeholder="123-123-1234" required>
        </div>
        <div class="d-flex justify-content-end">
            <button type="submit" class="btn btn-success me-2"
                    th:hx-post="@{/person/{personId}/phone/save(personId=${personId})}"
                    hx-target="#phones-info"
                    hx-swap="beforebegin"
                    hx-select="#phones-info"
                    th:attr="data-csrf-header=${_csrf.headerName}, data-csrf-token=${_csrf.token}"
                    hx-trigger="click"
                    hx-encoding="application/x-www-form-urlencoded">Save</button>
            <button type="button" class="btn btn-secondary"
                    th:hx-get="@{/person/view/{personId}(personId=${personId})}"
                    hx-target="#content" hx-swap="innerHTML">Cancel</button>
        </div>
    </form>
</div>
</html>
