<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!-- individual table row for insert -->
<div th:fragment="prior-school">
  <div class="wrapper-prior-schools-grid body slide-individual"
       th:attr="data-id='prior-school-'+${priorSchoolDto.priorSchoolId}"
       th:id="'prior-school-' + ${priorSchoolDto.priorSchoolId}">
    <input type="hidden" name="priorSchoolIds[]" th:value="${priorSchoolDto.priorSchoolId}">
    <div class="box">
      <i class="fa-solid fa-grip-vertical"></i>
    </div>
    <div class="box" th:text="${priorSchoolDto.schoolName}">School Name</div>
    <div class="box" th:text="${priorSchoolDto.city}">City</div>
    <div class="box" th:text="${priorSchoolDto.state}">State</div>
    <div class="box" th:text="${priorSchoolDto.gpa}">GPA</div>
    <div class="box" th:text="${priorSchoolDto.gradeLevel}">Grade Level</div>
    <div class="box"
         th:text="${priorSchoolDto.dateStartedAttending}">
      Date Started
    </div>
    <div class="box"
         th:text="${priorSchoolDto.dateLastAttended}">
      Date Last Attended
    </div>
    <div class="box">

      <div class="button-group">
        <!-- Actions as before -->
        <button class="btn btn-outline-light btn-sm"
                hx-swap="innerHTML transition:true show:#prior-school-form:bottom swap:.05s"
                hx-target="#prior-school-form"
                onclick="swapFade('prior-school-form',true); removeStyleClasses('slide-it', 'slide-individual');"
                th:hx-get="@{/prior-schools/school/{id}/edit(id=${priorSchoolDto.priorSchoolId})}">
          Edit
        </button>
        <button class="btn btn-danger btn-sm"
                hx-confirm="Are you sure you want to delete this prior school?"
                hx-swap="outerHTML"
                hx-target="closest tr"
                th:hx-delete="@{/prior-schools/delete/{id}(id=${priorSchoolDto.priorSchoolId})}">
          Delete
        </button>
      </div>
    </div>
  </div>
</div>
</html>