<html xmlns:th="http://www.thymeleaf.org" lang="">
<div th:fragment="addresses-info(addressDtoList, personId)" id="person-address-info">
  <!-- Alert Message Placeholder -->
  <div id="address-alert-message">
    <br>
    <div class="alert" role="alert"
         th:classappend="${alertLevel != null ? ' alert-' + alertLevel  + ' alert-dismissible fade show': ''}"
         th:if="${alertMessage}">
      <button aria-label="Close" class="btn-close" data-bs-dismiss="alert" type="button"></button><span th:utext="${alertMessage}"></span>
    </div>
  </div>
  <!-- Collection of Address cards-->
  <div class="card bg-dark text-white mt-4">
    <div class="card-body position-relative">
      <h4 class="card-title">Address Information</h4><!-- Button to Add a New Address -->
      <div class="position-absolute top-0 end-0 m-2">
        <!-- When clicked, load the add form into the modal content and show the modal -->
        <button class="btn btn-outline-light btn-sm"
                th:hx-get="@{/person/{personId}/person-address/add(personId=${personId})}"
                hx-target="#addressModalContent"
                hx-swap="innerHTML"
                data-bs-toggle="modal" data-bs-target="#addressModal"
                hx-trigger="click">
          <i class="fa-solid fa-plus"></i> Add Address</button>
      </div><!-- List of Existing Addresses -->
      <div class="row mt-3" id="person-address-list-container">
        <th:block th:each="addressDto : ${addressDtoList}">
               <th:block th:replace="~{person/person-address-item :: address-item(${addressDto}, ${personId})}"></th:block>
          </th:block>
      </div>
    </div>
  </div>
</div>
</html>