<!doctype html>
<html lang="en"
      layout:decorate="~{user-layout}"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:hx-on="http://www.w3.org/1999/xhtml">
 <head>
  <meta charset="UTF-8">
  <title>Come Chat with Me!</title>
 </head>
 <body>
  <div layout:fragment="content">
    <div class="container mt-5 slide-it">
      <h2 class="text-white text-uppercase">Welcome to the Chat!</h2>
      <div id="wsConnections" class="card" hx-ext="ws"
           th:ws-connect="@{/wsHandler}"
           hx-on::ws-after-message="clearInput()">
        <div id="messages" class="chat-container">

        </div>
        <form ws-send>
          <div class="form-group px-3">
            <textarea id="chat-message-input" name="chatMessage"
                      placeholder="Type your message"
                      class="auto-expand-textarea"
                      rows="5"></textarea>
          </div>
          <div class="form-group px-3">
            <button type="submit" class="btn btn-primary">Send</button>
          </div>
        </form>
      </div>
    </div>
    <script>
      function clearInput(){
        let element = document.getElementById('chat-message-input');
        element.value = '';
        element.focus();
        scrollToBottom();
      }
      function scrollToBottom(){
        var container = document.getElementById('messages');
        container.scrollTop = container.scrollHeight;
      }
    </script>
  </div>
 <template>
   <div hx-swap-oob="beforeend" id="messages" th:fragment="chat-message(message)">
     <div th:class="'outer-fade chat-message ' + ${message.styleClass}">
       <div class="message-container">
         <div class="message-header">
           <span class="message-user" th:text="${message.principal.name}">email</span>
         </div>
         <div class="chat-bubble" th:text="${message.message}">some chat messages</div>
         <div class="message-footer">
           <span class="message-timestamp" th:text="${#temporals.format(message.localDate, 'MMM-dd-yyyy HH:mm')}">00:00</span>
         </div>
       </div>
     </div>
   </div>
 </template>
 </body>
</html>