<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<div th:fragment="mark-for-review-info(missingDetailsList)" id="mark-for-review">
  <div class="card bg-warning text-dark mt-4">
    <div class="card-body">
      <h4 class="card-title">Review Required</h4>
      <ul class="list-group">
        <li th:each="detail : ${missingDetailsList}" class="list-group-item">
          <i class="fa-solid fa-exclamation-circle"></i>
          <span th:text="${detail}"></span>
        </li>
      </ul>
    </div>
  </div>
</div>
</html>
